{%extends "base.html"%}
{%block title1%}Authorize yourself in the fogbugz - {%endblock%}
{%block body%}
<h2>Please authorize yourself in the <a href="{{settings.FOGBUGZ_URL}}">fogbugz</a></h2>

<div>
  <form action="{%url fogbugz_authorize%}"
        method="post" id="fogbugz-authorize-form">
  <input type="hidden" name="xsrf_token" value="{{xsrf_token}}">
  <table>
  {{form}}
  <tr>
    <td>
      <input type="submit" value="Authorize" />
    </td>
  </tr>
  </table>
  </form>

{%endblock%}
